/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
	/* `otf-font-awesome` is required to be installed for icons */
	padding: 0;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	border: none;
	text-shadow: none;
	transition: none;
	box-shadow: none;
}

/* the whole window */
window#waybar {
background: #3c3835;
color: #fff4d2;
padding: 0px 6px;
margin: 0px;
border-radius: 0px;
}

.modules-left {
padding-left: 5px;
}

.modules-right {
padding-right: 5px;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
font-family: CaskaydiaCove Nerd Font;
font-size: 13px;
font-weight: 600;
color: #202020;
background: #202020;
border-radius: 2px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
padding-right: 2px;
margin: 0px 0px;
}

#custom-rofi {
/* border: 2px solid #458588; */
/* border-radius: 5px; */
background: #3c3835;
padding: 0 6px;
margin: 5px 5px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
margin: 0px;
}

#workspaces button {
color: #fff4d2;
background: #3c3835;
/* border: 2px solid #fff4d2; */
min-width: 25px;
margin: 0px 0px;
}

#workspaces button:hover {
background: #aaa187;
/* border: 2px solid #fff4d2; */
/* border-radius: 5px; */
}

#workspaces button.active{
	color: #689d6a;
	font-weight: 900;
	margin: 2px;
}

#workspaces button.urgent {
/* border: 2px solid #cc241d;
border-radius: 5px; */
background: #ea6962;
}
/* ================================ */
/*           Pop up tooltip          */
/* ================================ */


tooltip {
	background: rgba(40, 40, 40, 0.76);
	border-radius: 2px;
  }
/* ================================ */
/*            window                 */
/* ================================ */

#window {
color: #fbf1c7;
background: #202020;
font-size: 13px ;
margin: 2px;
padding: 0 6px;	

/* border: 2px solid #d3869b; */
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
/* padding: 0 6px; */
margin: 3px;
padding: 0 3px;
background: #716964;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
color: #ea6962;
background: #3c3835;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
color: #e78a4e;
background: #3c3835;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
color: #d8a657;
background: #3c3835;
}

#temperature.critical {
color: #cc241d;
background: #3c3835;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
color: #f6c657;
background: #3c3835;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
color: #458588;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
color: #fbf1c7;
background: #3c3835;
}

#pulseaudio.muted {
color: #ea6962;
background: #3c3835;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
color: #fbf1c7;
background: #3c3835;
}

#battery.critical {
color: #cc241d;
background: #3c3835;
}

#battery.warning {
color: #e78a4e;
background: #3c3835;
}
/* ================================ */
/*            bluetoot              */
/* ================================ */
#bluetooth{
	font-size: 16px;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
color: #fbf1c7;
background: #202020;
margin: 2px;
}

#clock.date {
color: #fbf1c7;
background: #3c3835;
}

#mpris {
color: #fbf1c7;
/* border: 2px solid #3c3835;
border-radius: 21px; */
background: #3c3835;
padding: 5px 5px;
margin: 1px 1px; 
}

#custom-notification {
color: #202020;
background: #d8a657;
margin: 3px;
padding: 0 1px;		
border-radius: 2px;
font-size: 16px;
font-weight: 900;
}

#custom-spotify{
	font-size: 13px;
	font-weight: 600;
}

#custom-power{
	color: #fbf1c7;
	background: #cc331d;
	font-size: 16px;
	font-weight: 800;
	margin: 2px;
	padding: 0 4px;		
	border-radius: 2px;
}

#custom-nightlight{
	color: #d8a657;
	font-size: 15px;
}
#custom-cycle_wall{
	color: #ea6962;
	font-size: 15px;
}

